<div class="container prest">
<h1 class="text-center mb-4">List of cocktails</h1>
<%= link_to new_cocktail_path  do%>
  <h2> <i class="fas fa-plus"> </i>Add a cocktail</h2>
<% end %>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card-category">
           <p><%= cocktail.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
