
<div class="container">
  <h1 class="text-center"><%= @cocktail.name %></h1>
  <%= image_tag @cocktail.image_url, alt: "cocktail" %>
  <%= link_to new_cocktail_dose_path(@cocktail) do %>
    <h2> <i class="fas fa-plus"> </i>Add a dose</h2>
  <% end %>
  <p>
  <%= link_to 'Return to cocktails', cocktails_path %>
  </p>
</div>
